<p style="color: green"><%= notice %></p>
<div class="page-header">
  <h2>Expenses of <b class="cat-name"><%=@category.name%></b></h2>
</div>

<h3>
  Total expenses: <%= @category.total_expenses(current_user).round(2) %>
</h3>

<div id="expenses" class="expenses">
  <% @expenses.each do |expense| %>
    <ul class="explist">
      <li> <%= expense.name %> </li>
      <li> <%= expense.amount %> </li>
    </ul>
  <% end %>
</div>

<div class="links-cat">
  <%= link_to "New expense", new_user_category_expense_path(current_user, @category) %>
  <%= link_to "Back to Category", user_categories_path(current_user) %>
</div>